/* global element styling */
:root {
    font-size: 62.5%        /* 62.5% of 16px is 10px, which makes 1rem = 10px */
}

* {
    margin: 0;
    padding: 0;
}

html,body {
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    font-size: 1.6rem;
    width: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lora', serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* navigation bar */

.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #03588C;
    min-width: 65rem;
}

nav ul {
    text-align: right;
    padding-right: 2rem;
}

nav ul li {
    display: inline-block;
    margin: 1.5rem 4.5rem;
}

nav ul li a {
    color: white;
    font-weight: 700;
    font-family: 'Lora', serif;
    text-transform: uppercase;
}

nav ul li a:hover {
  color: #BACDD9;
}

.section_name {
    text-transform: uppercase;
    color: #03588C;
    font-family: 'Lora', serif;
}

/* welcome section */

.intro {
    height: 100vh;
    min-height: 70rem;   
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
}

.intro::before {
    background-image: url("https://images.pexels.com/photos/1068523/pexels-photo-1068523.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    background-size: cover;
    background-position: center;
    min-height: 70rem; 
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.35;
}

.photo_me {
    width: 40%;
    border-color: #0378A6;
    border-width: 2rem;
    border-style: double;
    border-radius: 50%;
    margin-top: 10rem;
}

.intro_text {
    display: flex;
    flex-direction: column;
}

.intro_text {
    background-color: #0378A6;
    color: white;
    display: inline-block;
    font-size: 2rem;
    padding: 1rem 2.5rem;
    margin: 1rem 4rem;
    border-radius: 0.9em;
    font-weight: 400;
    max-width: 70rem;
    line-height: 3.5rem;
    text-align: left;
    font-family: 'Lora', serif;
}

/* blog */

.blogposts {
    /*
    height: 130vh;
    min-height: 80rem;
    */
    background-color: white;
    width: 100%;
    color: #0378A6;
    overflow: scroll;
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.blogposts {            /* Creating space above the target of a jump link. */
    padding-top: 6rem;
    margin-top: 0px;
}

.blogposts_tiles {
    width: 60vw;
    min-width: 65rem;
    max-width: 75rem;
    padding: 2em;
}

.blogpost_tile {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 1rem 0rem;
}

.blogpost_tile a {
    color: #0378A6;
}

.blogpost_tile a:visited {
    color: #3E768C;
}

.blogpost_tile:hover {
    background: #BACDD9;
    border-style: solid;
    border-width: 0;
    border-color: #BACDD9;
    border-radius: 1rem;
}

.blogpost_pic {
    width: 15rem;
    height: 8rem;
    padding-left: 1rem;
}

.blogpost_text {
    margin-left: 1rem;
}

.blogpost_header {
    text-align: left;
}

.blogpost_desc {
    text-align: left;
}

/* projects */

.work {
    height: 150vh;
    min-height: 80rem;
    background-color: #8FBDD9;
    overflow: scroll;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 5rem;
}

.work {             /* Creating space above the target of a jump link. */
  padding-top: 6rem;
}

.project_tile {
    display: inline-block;
    overflow: hidden;
    padding: 2rem;
}

.project_pic {
    height: 20rem;
    width: auto;
    margin: 0 1rem;
    border-style: solid;
    border-color: white;
    border-width: 0.1rem;
    border-radius: 0.5rem;
}

.project_grid {
    display: flex;
    flex-direction: column;
}

.project_title {
    font-weight: 400;
    margin: 1rem 0 1rem 0;
}

.project_links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.project_links a:hover {
    background: #BACDD9;
    border-style: solid;
    border-width: 0;
    border-color: #BACDD9;
    border-radius: 0.5rem;
}

.project_links a {
    color: #A65903;
    margin: 0 2rem;
    text-decoration: underline;
}

.JavaScript_projects {
    padding-top: 3rem;
}

/* contact */

.contact {
    height: 100vh;
    min-height: 70rem; 
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*
.contact {              /* Creating space above the target of a jump link. */
/*    padding-top: 60px;
}
*/

.contact_details {
    margin: 2.5rem;
    display: inline-block;
}

.contact_details:hover {
    background: #BACDD9;
    border-style: solid;
    border-width: 0;
    border-radius: 0.5rem;
}

.contact_desc {
    color: #0378A6;
    font-size: 2.4rem;
    margin: 0 6rem;
    display: inline-block;
    font-weight: 700;
    max-width: 60rem;
    line-height: 3.5rem;
    text-align: center;
    font-family: 'Lora', serif;
}

.desc a {
    color: #0378A6;
}

/* for mobile phones */
@media screen and (max-device-width:414px), screen and (max-width:414px) {
    html,body {
        font-size: 3.5rem;
        line-height: 1.5;
    }

    .header {
        font-size: 3.5rem;
    }

    nav ul {
        text-align: center;
        padding: 0;
    }

    nav ul li {
        display: block;
    }

    .intro_text {
        font-size: 4rem;
        line-height: 1.7;
        padding: 2rem;
    }

    .blogposts {        /* Creating space above the target of a jump link. */
        padding-top: 30rem;
        margin-top: -30rem;
    }
    /*
    .blogposts {
        height: 270vh;
    }
    */

    .blogposts_tiles {
        width: 100rem;
    }

    .blogpost_tile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 3rem 1.5rem;
    }

    .blogpost_pic {
        width: 70rem;
        height: auto;
        padding: 1.5rem;
    }

    .work {             /* Creating space above the target of a jump link. */
        padding-top: 30rem;
    }

    .work {
        height: 200vh;
    }

    .project_pic {
        width: 70rem;
        height: auto;
    }

    .project_tile {
        padding: 4rem;
    }

    .contact_desc {
        font-size: 4rem;
        line-height: 1.7;
        max-width: 100rem;
    }
}

@media screen and (max-device-height:667px), screen and (max-height:667px) {
    .intro {
        height: 120vh;
    }

    .intro::before {
        height: 120vh;
    }
    /*
    .blogposts {
        height: 330vh;
    }
    */

    .work {
        height: 230vh;
    }
}